
* {
    margin:0px;
    border:0px;
    padding:0px;
    font-family: 'Sen', sans-serif;
    font-family: 'Baloo Chettan 2', cursive;
}
 
 /* body * {
    outline: 1px solid red;
}  */

.container{
    width: 1070px;
    min-height:800px;
    background-color: lightgray;
    margin: 0 auto;
}

.header{
    height:50px;
   
}
.wrapper{
    background: rgb(96,80,87);
    background: linear-gradient(99deg, rgba(96,80,87,1) 0%,
     rgba(113,82,89,1) 35%, rgba(96,80,87,1) 100%);
    /* padding-top: 10px; */
    min-height:800px;
}

.imageAndAbout {
  /* border: 10px solid lightgray; */
  padding-top:20px;

  }
.about{
    width:480px;
    min-height:340px;
    vertical-align: top;
    color:white;
    background: rgb(220,214,224);
    background: linear-gradient(90deg, rgba(220,214,224,1) 0%,
     rgba(249,246,252,1) 35%, rgba(240,230,251,0.8018557764902836) 100%); 
    display: inline-block;
    margin-top:10px;
   margin-left:40px;
   vertical-align: top;
   
}
.imageAndAbout img{
    display: inline-block;
    width:480px;
    min-height: 330px;
    margin-left:20px;
    margin-top:7px;
    border:7px solid #cac6cd;
}
/* .image{
    display: inline-block;
    min-height: 430px;
    margin-left:20px;
    margin-top:7px;
    border: 5px solid lightgray;
    box-sizing: border-box;

} */
.text {
    height:40px;
    font-weight: bolder;
    font-size: large;
    background: rgb(128,124,130);
    background: linear-gradient(99deg, rgba(128,124,130,1) 0%,
     rgba(170,166,175,1) 35%, rgba(128,124,130,1) 100%);
  
}
p{
    padding:10px;
    color:black;
    
}
.theRest p:nth-child(3){
    text-decoration: underline;
}

 header .name{
    display: inline-block;
    width:500px;
}
h2{
    display: inline-block;
    width:520px;

    color:black;
}
 h2:nth-child(2){
    text-align:right;
    padding:0px;
}

.header h2:nth-child(1){
    font-size: 2em ;
    font-weight: bolder;
    padding-left:5px;
}
.innerbox {
    display: inline-block;
    width:310px;
    /* height:300px; */
background: rgb(220,214,224);
background: linear-gradient(90deg, rgba(220,214,224,1) 0%,
rgba(249,246,252,1) 35%, rgba(240,230,251,0.8018557764902836) 100%);
    margin:20px;
    vertical-align: top;
}
.innerbox p{
    min-height: 200px;
}
.text{
    padding: 10px 0 0 10px;
}
.threeBoxRapper {
    min-height: 630px;
}
.innerHeader {  
    height:30px;
    font-weight: bolder;
    font-size: large;
    background: rgb(128,124,130);
    background: linear-gradient(99deg, rgba(128,124,130,1) 0%,
     rgba(170,166,175,1) 35%, rgba(128,124,130,1) 100%);
}
.innerbox img{
    width:310px;
}
.text2 {
    color:#fff;
    padding:5px 0 0 5px;
}
.secondBox{
    padding-bottom: 20px;
}
.threeBoxRapper .secondBox img{
width: 45px;
height: 50px;
margin:5px;
display:inline-block;
}

input[type = "submit"]{
    background-color:#056e05;
    color:white;
    display: block;
    margin: 0 auto ;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid black;
    padding:2px 4px;
box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.56);

}
